* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2eafb;
    font-family: monospace;
}

.container  {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;

    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.708);
}

.divInput {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.divInput p {
    font-size: 1rem;
}

input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    width: 84%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color:  #7fd3d3;
    font-size: 20px;
}

#mensagem {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

#mensagem p {
    margin-top: 5px;
}

.menor {
    color: red;
}

.maior {
    color: green;
}